.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--white-color);
    color: var(--black-color);
    height: 50vh;
    padding: 100px 0 100px 0;
}

.about-desc {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 0 100px 0 100px;
}

.about-desc > h3 {
   margin-bottom: 30px;
   font-size: 25px;
}

.about-desc > p {
    line-height: 1.5;
    margin-bottom: 30px;
    font-size: 20px;
}

.about-img {
    width: 70%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

@media only screen and (max-width: 1354px), screen and (max-height: 981px) {
    .about-container{
        flex-direction: column;
        padding: 0;
        height: auto;
    }
    .about-desc {
        width: 90%;
        margin: 0 auto;
        padding: 40px 20px 50px 20px;
    }
    .about-desc > p {
        font-size: 20px;
    }
    .about-desc{
        text-align: center;
    }

    .about-img {
       width: 100%;
       margin-bottom: 50px; 
    }

    .about-img > img{
        width: 100%;
    }

}