.navbar {
    position:fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 80px;
    padding-right: 50px;
    font-size: 20px;
    z-index: 1;
}

.scrolling{
    background-color: var(--black-color);
    transition: all 0.5s ease;
}

.navbar-logo{
    height: 80px;
    line-height: 80px;
    color: var(--white-navbar-color);
    cursor: pointer;
    text-align: right;
    
}